In [33]:
import numpy as np
from sklearn.linear_model import LinearRegression 
import pandas as pd
import math
from pandas import DataFrame

In [3]:
#data set
x= np.array([1, 2, 3, 4, 5]) #features
y= np.array([5, 7, 9, 11, 13]) #target

In [4]:
#gradient Descent algorithm

#y(hat)= wx + b

max_itr= 10000

w_cur= 0
b_Cur= 0 
alpha= 0.08

for i in range(max_itr):
    y_hat= w_cur * x + b_Cur
    cost= 1/y.size * sum((y- y_hat) **2)
    d_w= (-2/y.size) * sum((y- y_hat)*(x))
    d_b= (-2/y.size) * sum(y- y_hat)
    w_cur= w_cur- alpha * d_w
    b_Cur= b_Cur- alpha * d_b


print('w' , w_cur)
print('b' , b_Cur)
print('Cost', cost)

w 2.000000000000002
b 2.999999999999995
Cost 1.0255191767873153e-29

#### We Cannot directly apply Linear regression on numpy arrays
#### we have to first convert the numpy array to a dummy data frame to regression on it

In [12]:
data_x= DataFrame(x, columns=['dummmy'])
data_y= DataFrame(y, columns=['dummy'])

reg= LinearRegression().fit(data_x, data_y)

print('b', reg.intercept_)
print('w', reg.coef_)

b [3.]
w [[2.]]

### EXERCISE

In [14]:
test_data= pd.read_csv('test_scores.csv')
test_data

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [74]:
x_features= DataFrame(data= test_data, columns=['math']) #x
y_target= DataFrame(data= test_data, columns= ['cs']) #y

In [92]:
#RUN THE GRADIENT DESCENT ALGORITHM

x= x_features.to_numpy()
y= y_target.to_numpy()
n= x.size


w= 0 
b= 0


#y(hat)= w * x + b
#new= old- something
#we want this something to be as precise as 1e-20

max_itr= 1000000
alpha= 0.00021

for i in range(max_itr):
    y_hat= w * x + b

    cost= 1/n * sum((y- y_hat) ** 2)
    der_w= (-2/n) * sum((y- y_hat)* x)
    der_b= (-2/n) * sum(y- y_hat)
    
    if(math.isclose(w, w- alpha * der_w, rel_tol= 1e-20)== True):
        break
    if(math.isclose(b, b- alpha * der_b, rel_tol= 1e-20)== True): 
        break

    w= w-  alpha * der_w
    b= b-  alpha * der_b

print('My predictions: ')

print('w: ', w)
print('b: ', b)


print('Predictions using sklearn: ')

reg= LinearRegression().fit(x_features, x_target)

print('w', reg.coef_)
print('b', reg.intercept_)

My predictions:
w:  [1.01773624]
b:  [1.91521929]
Predictions using sklearn:
w [[1.01773624]]
b [1.91521931]